h1{
    color: blueviolet;
    text-align: center;
    text-decoration: underline;
}
#mob{
    color:cyan;
    text-decoration:underline;

}
.class1{
    color: #32a852;
    text-decoration-line: overline;
}